Flask==3.1.0
plotly==6.0.0
numpy==1.24.3
pandas==1.5.3
psycopg2-binary==2.9.9  # PostgreSQL database driver
gunicorn==20.1.0  # WSGI HTTP Server for deployment
kaleido==0.2.1  # For saving Plotly charts as images
